<!DOCTYPE HTML>
<html>
<head>
<title>湘大二手街-后台管理</title>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
<scrip type="text/javascript" src="__PUBLIC__/js/bootstrap/min.js"></scrip>
<style>

	*{margin:0;padding:0;font-family:"微软雅黑";}

	.h_c,.c_c,.f_c{width:1000px;margin:0 auto;}

	.header{width:auto; height:100px; background-color:#000; color:#fff; }
	.header .h_c .h_title{width:150px;height:100px;font-size:24px;line-height:100px;float:left;}
	.header .h_c .h_menu{width:600px;height:100px;line-height:100px;float:right;font-size:20px;}
	.header .h_c .h_menu ul{list-style-type:none;}
	.header .h_c .h_menu ul li{float:left;margin:0 50px;}
</style>
</head>
<body>
	<div class="header">
		<div class="h_c">
			<div class="h_title">湘大二手街</div>
			<div class="h_menu">
				<ul>
					<li><a>用户管理</a></li>
					<li><a>商品管理({$goodsCount})</a></li>
					<li><a>后台管理</a></li>
				</ul>
			</div>
		</div>
	</div>